@model IEnumerable<OneStopShop.Models.Subscribers>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/css/StoreIndex.css" />
    <title>View</title>
</head>
<body>
    <div id="divInline">
        <h2>List Of Subscribers</h2>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User.email)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.email)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>


