@model OneStopShop.Models.Product

@{
    ViewData["Title"] = "Create";
}


<Center><h3>Add Product</h3></Center>
<head>
    <link href="~/css/AddProduct.css" rel="stylesheet" />
</head>
<hr />
<div>
    <form asp-action="Create" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.StoreId" />
        <table>
            <tr>
                <td><label asp-for="ProductName"> Product Name</label></td>
                <td><input asp-for="ProductName" class="form-control"  /></td>
            </tr>

            @*<tr>
                <td><label asp-for="ProductDescription">Product Description</label></td>
                <td><input asp-for="ProductDescription" class="form-control" required /></td>
            </tr>*@

            <tr>
                <td><label asp-for="ProductDescription">Product Description</label></td>
                <td><textarea asp-for="ProductDescription" rows="3" class="form-control"></textarea></td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductPrice">Product Price( $ CAD)</label></td>
                <td><input asp-for="ProductPrice" class="form-control"  /></td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductCreatedDate">Product Created Date</label></td>
                <td><input asp-for="ProductCreatedDate" class="form-control" /></td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductModifiedDate">Product Modified Date</label></td>
                <td><input asp-for="ProductModifiedDate" class="form-control" /></td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductImage" for="customFile">Product Image</label></td>
                <td><input asp-for="ProductImage" type="file" class="form-control" id="customFile" name="filename"></td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductSize">Product Size</label></td>
                <td>
                    <select class="form-control">
                        <option value="0">Please Select Size</option>
                        <option value="1">XS</option>
                        <option value="2">Small</option>
                        <option value="3">Medium</option>
                        <option value="4">Large</option>
                        <option value="5">XL</option>
                        <option value="6">XXL</option>
                    </select>
                </td>
            </tr>

            <tr class="form-group">
                <td><label asp-for="ProductColor">Product Color</label></td>
                <td><input asp-for="ProductColor" class="form-control" /></td>
            </tr>
           
        </table><br />
                <center><button type="submit" class="btn btn-primary">Submit</button> &nbsp;&nbsp;&nbsp;&nbsp; <button type="reset" class="btn btn-danger">Reset</button></center>

    </form></br>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
