@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@using OneStopShop.Models;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - OneStopShop</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link href="~/css/Homepage.css" rel="stylesheet" />
	<link href="~/css/background.css" rel="stylesheet" />
	<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    @{
            string userID = HttpContextAccessor.HttpContext.Session.GetString("UserId");
            string userRole = HttpContextAccessor.HttpContext.Session.GetString("UserRole");
        }
    <div class="container">
        <nav class="navigationWrapper">
            <div class="logoWrapper">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="navlogo" src="~/images/OSSNavLogo.png" /></a>
            </div>
            @if (userID  == null)
            {
            <ul class="navigation">
                <li class="parent"><a class="link" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="parent"><a class="link" asp-controller="Users" asp-action="Create"> Signup</a></li>
                <li class="parent"><a class="link" asp-controller="Users" asp-action="Login">Login</a></li>

            </ul>
            }
            else
            {
        <ul class="navigation">
            <li class="parent"><a class="link" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="parent">
                <a class="link" asp-area="" asp-controller="Cart" asp-action="Index">
                    <img class="cart" src="http://co0kie.github.io/codepen/nike-product-page/cart.png">&nbspCart
                </a>
            </li>
            @if (userRole == "Seller")
            {
                <li class="parent"><a class="link" asp-controller="Stores" asp-action="Index">My Store</a></li>
            }
            <li class="parent"><a class="link" asp-controller="Users" asp-action="Details" asp-route-UserId="@HttpContextAccessor.HttpContext.Session.GetString("UserId")">My Account</a></li>
            <li class="parent"><a class="link" asp-controller="Users" asp-action="Logout">Logout</a></li>
        </ul>
            }

        </nav>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
            <div class="about">
                <h2>About</h2>
                <p>
                    Tired of walking through shops, looking for just the right item? Enter One Stop Shop, where you will
                    find a huge selection of goods from your favourite stores. So what are you waiting for? Start
                    shopping online today and find out more about what makes us so special
                </p>
            </div>
            <div class="pageLinks">
                <div class="storeContent">
                    <div class="right">
                        <ul>
                            <li>One Stop Shop</li>
                            <li>Phone: 123-456-7890</li>
                            <li>Email: info@onestopshop.com</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container border-top text-muted">
                &copy; 2020 - OneStopShop
            </div>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>