@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OneStopShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!--<meta charset="utf-8">-->
    <!-- Somehow I got an error, so I comment the title, just uncomment to show -->
    <!--<title>Owl-carousel Cards Slider | CodingNepal</title>-->
    <link href="~/css/Homepage.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
    <div class="container">
        <nav class="navigationWrapper">
            <div class="logoWrapper">
                <a asp-area="" asp-controller="Home" asp-action="Index"><img class="navlogo" src="~/images/OSSNavLogo.png" /></a>
            </div>
            <ul class="navigation">
                <li class="parent"><a class="link" asp-area="" asp-controller="Stores" asp-action="Create">Build Store</a></li>
                <li class="parent"><a class="link" asp-area="" asp-controller="Stores" asp-action="Index">Store List</a></li>
                <li class="parent"><a class="link" asp-controller="Users" asp-action="Create"> Signup</a></li>
                <li class="parent"><a class="link" asp-controller="Users" asp-action="Login">Login</a></li>
                <li class="parent">
                    <a class="link" asp-area="" asp-controller="Cart" asp-action="Index">
                        <img class="cart" src="http://co0kie.github.io/codepen/nike-product-page/cart.png">&nbspCart
                    </a>
                </li>
                <li class="parent"><a class="link" asp-controller="Users" asp-action="Details" asp-route-UserId="@HttpContextAccessor.HttpContext.Session.GetInt32("UserId")">My Account</a></li>
            </ul>
        </nav>
        <main role="main">
            @RenderBody()
        </main>
        <footer>
            <div class="about">
                <h2>About</h2>
                <p>
                    Tired of walking through shops, looking for just the right item? Enter One Stop Shop, where you will
                    find a huge selection of goods from your favourite stores. So what are you waiting for? Start
                    shopping inline today and find out more about what makes us so special
                </p>
            </div>
            <div class="pageLinks">
                <div class="storeContent">
                    <div class="left">
                        <ul>
                            <li><a class="socialLinks" href="#">FAQ</a></li>
                            <li><a class="socialLinks" href="#">Store Policy</a></li>
                            <li><a class="socialLinks" href="#">Payments</a></li>
                            <li><a class="socialLinks" href="#">Shopping and Returns</a></li>
                        </ul>
                    </div>
                    <div class="right">
                        <ul>
                            <li>One Stop Shop</li>
                            <li>Phone: 123-456-7890</li>
                            <li>Email: info@onestopshop.com</li>
                            <li>
                                <a href="#"><img src="~/images/instagram.png" height="35" width="35" /></a>
                                <a href="#"><img src="~/images/facebook.png" height="35" width="35" /></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container border-top text-muted">
                &copy; 2020 - OneStopShop - <a asp-area="" asp-controller="Home" asp-action="#">Privacy</a>
            </div>
        </footer>
    </div>

    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)*@
</body>
</html>