@model OneStopShop.Models.Users

@{
    ViewData["Title"] = "Login";
    Layout = "_HomeLayout";
}

<head>
    <link href="~/css/Login.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="row">

        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5 border-0">
                <div class="card-header form-head">
                    <div class="mx-auto pt-1 pb-1">
                        <h4>One Stop Shop</h4>
                    </div>
                </div>
                <div class="card-body fields-container">
                    @if (@TempData["AccountCreationSuccessMSG"] != null)
                    {
                        <div class="alert alert-success alert-dismissible fade show">
                            <strong>Success!</strong> <br /> @TempData["AccountCreationSuccessMSG"]
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    }
                    @if (@ViewData["loginErrorMessege"] != null)
                    {
                        <div class="alert alert-danger alert-dismissible fade show">
                            @ViewData["loginErrorMessege"]
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                        </div>
                    }
                    <h5 class="card-title text-center">Sign In</h5>
                    <form class="form-signin" asp-action="Login">
                        <div class="form-label-group">
                            <input type="text" asp-for="Username" class="form-control" id="email" placeholder="Please Enter Your UserName" required autofocus>

                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-label-group">
                            <input type="password" asp-for="Password" id="inputPassword" class="form-control" placeholder="Password" required>
                        </div>
                        <br />
                        <button class="btn btn-lg btn-block text-uppercase signin-btn" type="submit">Sign in</button>
                        <p class="mt-3 mb-3" style="text-align:center;">Need Help? <a class="need-help" asp-area="" asp-controller="Users" asp-action="ForgotPassword">Forgot your password?</a></p>
                        <hr class="my-4">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@*@section Scripts {

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    }*@