@model IEnumerable<OneStopShop.Models.Wishlist>

@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Index";

}
<br/>
<h2 class="wishlist">Wish List</h2>
<br/>
<head> 
    <link rel="stylesheet" type="text/css" href="~/css/WishList.css" />    
</head>

<div id="products" class="row list-group">
    <table class="table">
        @foreach (var item in Model)
        {
     
            <tr>
                <td>
                    <img width="170" height="170" src="~/@item.Product.ProductImage" id="Image" />
                 </td>
                <td style="color: white;font-size: x-large;">
                    Product Name  : <p>@item.Product.ProductName</p> <br />
                    Product Price :  <p>@item.Product.ProductPrice</p> <br />
                    Product Color : <p>@item.Product.ProductColor</p>                </td>
                <td>
                    <span class="btn btn-success">Add to cart</span>                |
                    <span class="btn btn-danger">Remove</span>
                </td>
            </tr>
        }
           

        </table>
</div>