@model IEnumerable<OneStopShop.Models.Wishlist>
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Index";

}
<br />
<h2 class="wishlist">Wish List</h2>
<br />
<head>
    <link rel="stylesheet" type="text/css" href="~/css/WishList.css" />
</head>

<div id="products" class="row list-group">
    <table class="table">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="170" height="170" src="~/@item.Product.ProductImage" />
                </td>
                <td style="color: white;font-size: x-large;">
                    Product Name  : @item.Product.ProductName <br />
                    Product Price :  @item.Product.ProductPrice.ToString("c") <br />
                    Product Color : @item.Product.ProductColor
                </td>

                <td>
                    <span class="btn btn-success">Add to cart</span>                |
                    <a asp-action="Delete" asp-controller="Wishlist" asp-route-id="@item.WishlistId" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        }

    </table>
</div>