

<head>
    <link rel="stylesheet" type="text/css" href="~/css/OrderConfirmation.css" />
</head>
<div class="columns">
    <div class="column main">

        <div id="authenticationPopup">
            <div class="success-extras">
                @*<img width="40px" height="40px" src="~/images/true1.PNG" />*@
                <p>@TempData["msg"]</p>
                <hr class="divider">
            </div>
        </div>
    </div>
    <a asp-action="Index" asp-route-id="@ViewBag.message">    
                <h4>Back to Orders</h4>
         
    </a>
</div>