@model OneStopShop.Models.Orders
@{
    ViewData["Title"] = "Order Confirmation";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/OrderConfirmation.css" />
</head>
<div class="columns">
    <div class="column main">
        <input name="form_key" type="hidden">
        <div class="row ">
            <lable>Hello,</lable>
        </div>
        <div id="authenticationPopup">
            <div class="success-extras">               
                <img width="40px" height="40px" src="~/images/true1.PNG" />
                <p>Your Order is Confirmed!</p>
                
                <hr class="divider">
            </div>
        </div>
        <div class="checkout-success">
            <p>Your order # is: <span>@Model.OrderId</span>.</p>
            <p>Thanks For Shopping ! Your order hasn't shipped yet, but we will send you an email when it does.</p>
            <div class="actions-toolbar">
                <div class="primary">                    
                    <a class="action primary continue" asp-area="" asp-controller="Stores" asp-action="Index">Continue Shopping</a>
                </div>
            </div>
        </div>        
    </div>
</div>