@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Index";
}
<br />
<h2 class="wishlist">Your Order</h2>
<br />
<head>
    <link rel="stylesheet" type="text/css" href="~/css/WishList.css" />
</head>

<div id="products" class="row list-group">
    <table class="table">
        <tr>
            <td>
                <img width="170" height="170" src="~/images/3260fbee-2113-442b-baca-4f3f0dbbdd35_tshirt2.jpg" />
            </td>
            <td style="color: white;font-size: x-large;">
                Product Name  : ABC <br />
                Product Price : $45 <br />
                Product Color : Green <br />
                Sold By       : Store 1
            </td>
            <td>
                <span class="btn btn-success">Buy It Again</span>                
            </td>
        </tr>
        <tr>
            <td>
                <img width="170" height="170" src="~/images/3260fbee-2113-442b-baca-4f3f0dbbdd35_tshirt2.jpg" />
            </td>
            <td style="color: white;font-size: x-large;">
                Product Name  : ABC <br />
                Product Price : $45 <br />
                Product Color : Green <br />
                Sold By       : Store 2
            </td>
            <td>
                <span class="btn btn-success">Buy It Again</span>
            </td>
        </tr>

    </table>
</div>