body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #000000;
    background: #A58964;
}

*#Back {
    background-color: #031327;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 15px;
    text-align: center;
    border-radius: 15px 15px 15px 5px;
}

#Back:hover {
    background-color: #bd1b1b;
}