body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    background: #A58964;
}
td {
    text-align: left;
}
/*table {
    border: 5px solid #A58964;
    width: 100%;
}*/