/*.container {
	background: #B09E80;
}*/

h2{
	text-align: center;
	color: white;
}

.dashboardContainer {
	background: #192537;
	overflow: auto;
	margin: 0 auto;
	text-align: center;
}

.container-grid {
	display: grid;
	grid-template-columns: 400px 400px;
	grid-gap: 15px;
	margin: auto 155px;
}

.gallery {
	background: #B09E80;
	border: 1px solid black;
	float: left;
	width: 390px;
	text-align: center;
	padding: 10px 10px;
}
.gallery img{
	width:auto;
	height:280px;
}
.desc{
	padding: 15px;
	text-align: center;

}

@media only screen and (max-width: 600px) {
	.container-grid {
		grid-template-columns: 100px;
		width:100%;
	}

}