.navigationWrapper {
	margin-left: auto;
	margin-right: auto;
	max-width: 1300px;
	width: 100%;
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: #192537;
	box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.5);
	color: white;
	text-transform: uppercase;
	overflow: hidden;
	max-width: 1300px;
	width: 100%;
}

.nav {
	float: right;
	display: flex;
	flex-wrap: wrap;
}

.logoWrapper {
	display: flex;
}

.navigation {
	display: flex;
	list-style-type: none;
	overflow: hidden;
	flex-wrap: wrap;
}

li {
	opacity: 1;
	list-style-type: none;
	color: white;
	text-decoration: none;
	font-weight: 400;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
	transition: all 0.3s ease-in-out;
}

.parent {
	padding: 0 10px;
}

.link {
	position: relative;
	display: flex;
	align-items: center;
	padding: 5px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	color: white;
}

	.link:hover {
		color: #ea4f4c;
		text-decoration:none;
	}

.navlogo {
	max-height: 80px;
	height: 100%;
	width: auto;
}

.cart {
	width: auto;
	height: 18px;
}


.coverimage {
	position: relative;
	text-align: center;
	color: white;
}

.about {
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #192537;
}

	.about > h2 {
		text-align: center;
		color: white;
	}

	.about > p {
		text-align: center;
		color: white;
		display: flex;
		flex-wrap: wrap;
		margin: auto;
		max-width: 750px;
		width: 100%;
	}

.pageLinks {
	padding-top: 60px;
	padding-bottom: 60px;
	display: flex;
	flex-wrap: wrap;
	background-color: #B09E80;
	margin: auto;
}
.storeContent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-width: 600px;
	width: 100%;
	margin: auto;
}
.left{
	float:left;
}
.socialLinks {
	color: white;
	text-decoration: none;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
}
	.socialLinks:hover {
		text-decoration: none;
		color: #192537;
	}
.right{
	float:right;
}