body {
    padding: 40px;
    margin: 0;    
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    background: #A58964;
}

.columns {
    text-align: center;
}

.column {
    box-shadow: inset 0 0 0 2px #202c50;
    border-radius: 8px;
    display: inline-block;
    padding: 50px;
    width: 75%;    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    margin: 15px;
    background: #192537;
    color: white;
}

.divider {
    width: 40%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0 none;
    margin-top: 14px;
    margin-bottom: 40px;
}

.success-extras p {    
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    padding: 0 0 20px 0;
    line-height: 1.2em;
}
.ptext {
    font-size: 15px;
    font-weight: 700;
}

p.success-lrg {
    font-size: 2.4em;
}

.fa-check-circle {
    color: #202c50;
    font-size: 6em;
    margin: 0 0 30px 0;
}

.action.primary {
    background: green;
    border: none;
    color: #fff;
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 1.4rem;
    box-sizing: border-box;
    vertical-align: middle;
    padding: 20px 20px;
    margin: 20px 0 0 0;
    text-decoration: none;
}

    .action.primary:hover {
        background: #2e3f73;
    }

@media screen and (max-width: 600px) {
    .column {
        width: 80%;
    }
}

