body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    background: #A58964;
}

h4 {
    margin-top: 10px;
    color: black;
    width: 100%;
    text-align: center;
}

table {
    height: 300px;
    width: 500px;
    color: white;
    background-color: #192537;
    border-collapse: collapse;
    /*border-radius: 15px;*/
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}



th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid white;
}

/*tr:nth-child(even) {
    background-color: #f2f2f2;
}*/

#Back {
    background-color: #031327;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;
    padding-right: 22px;
    position: relative;
    top: 25px;
    left: 309px;
    text-align: center;
    border-radius: 15px 15px 15px 5px;
}

    #Back:hover {
        background-color: #bd1b1b;
    }


.producttable {
    height: auto;
    width: 100%;
    color: white;
    background-color: #192537;
    border-collapse: collapse;
    /*border-radius: 15px;*/
    margin-left: auto;
    margin-right: auto;
}

.th {
    background-color: #B09E80;
    color: white;
    text-align: center;
    font-weight: bold;
}

.td {
    background-color: #192537;
    text-align: center;
    color: white;
}
.OrderDetails {
    color: white;
    text-align: center;
}