body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    color: #ffffff;
    background: #A58964;
}
 
#div {
    background-color: white
}

#divInLine {
    display: inline-block;
}

table {
    border: 5px solid #A58964;
    width: 100%;
}

th {
    background-color: #031327;
    color: white;
}

td {
    text-align: left;
}

tr {
    border: 5px solid #031327;
    border-radius: 5px;
}

    tr:hover {
        background-color: #b2afaf;
    }

#Create:link, Create:visited {
    color: white;
    background: blue;
    border: 2px solid green;
    margin-left: 1000px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

#Create:hover, Create:active {
    background-color: green;
    color: white;
}

#Details {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

    #Details:hover {
        background-color: #45a049;
    }

#Edit {
    background-color: #1b40ea;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 5px;
}

    #Edit:hover {
        background-color: #1e3ed3;
    }

#Delete {
    background-color: #d43939;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
}

    #Delete:hover {
        background-color: #bd1b1b;
    }
