body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: #1C293D;
}

.details-container {
    padding-left: 30px;
    max-width: 1300px;
    width: 100%;
    background-color: #192537;
}

h2 {
    margin-top: 10px;
    color: black;
    width: 100%;
    text-align: center;
    color:white;
}

.image{
    margin-left:30px;

}
#Image {
    float: left;
    height: auto;
    width: 300px;
    border-radius: 15px;
}

#divInline {
    display: inline-block;
    padding-left: 20px;
}

table {
    height: 300px;
    width: 500px;
    color: black;
    background-color: white;
    border-collapse: collapse;
    border-radius: 15px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/*#Create:link, Create:visited {
    color: black;
    background: white;
    border: 2px solid green;
    margin-left: 1000px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#Create:hover, Create:active {
    background-color: green;
    color: white;
}

#Edit {
    background-color: #1b40ea;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    top: 50px;
    left: 50px;
    text-align: center;
    border-radius: 5px;
}

    #Edit:hover {
        background-color: #1e3ed3;
    }

#Delete {
    background-color: #d43939;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 50px;
    left: 100px;
    text-align: center;
    border-radius: 5px;
}

    #Delete:hover {
        background-color: #bd1b1b;
    }*/

#AddToCart {
    background-color: #4CAF50;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
    position: relative;
    top: 15px;
    left: 350px;
    text-align: center;
    border-radius: 5px;
}

    #AddToCart:hover {
        background-color: #45a049;
    }

*#Back {
    background-color: #031327;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    top: 15px;
    text-align: center;
    border-radius: 15px 15px 15px 5px;
}

#Back:hover {
    background-color: #bd1b1b;
}
   

