
#div {
    background-color: white
}

#divInLine {
    display: inline-block;
}

.table {
    color: white;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: #031327;
    color: white;
}

td {
    text-align: left;
}

tr {
    border: 1px solid #031327;
    border-radius: 5px;
}

#Create:link, Create:visited {
    color: white;
    background-color: blue;
    border: 2px solid green;
    margin-left: 1000px;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;

}

#Create:hover, Create:active {
    background-color: green;
    color: white;
}

#Details {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}

    #Details:hover {
        background-color: #45a049;
    }

#Edit {
    background-color: #1b40ea;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 5px;
}

    #Edit:hover {
        background-color: #1e3ed3;
    }

#Delete {
    background-color: #d43939;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    border-radius: 5px;
}

    #Delete:hover {
        background-color: #bd1b1b;
    }
