body {
    margin: 0;
    padding: 0;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: #1C293D;
}

.details-container {
    padding-left: 30px;
    max-width: 1300px;
    width: 100%;
    background-color: #192537;
}

h2 {
    margin-top: 10px;
    color: black;
    width: 100%;
    text-align: center;
    color:white;
}

.image{
    margin-left:30px;

}
#Image {
    float: left;
    height: auto;
    width: 300px;
    border-radius: 15px;
}

#divInline {
    display: inline-block;
    padding-left: 20px;
}

table {
    height: 300px;
    width: 500px;
    color: black;
    background-color: white;
    border-collapse: collapse;
    border-radius: 15px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}



#AddToCart {
    background-color: #4CAF50;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
    position: relative;
    top: 15px;
    left: 350px;
    text-align: center;
    border-radius: 5px;
}

    #AddToCart:hover {
        background-color: #45a049;
    }

.EditProduct {
    color: white;
    text-align: center;
}

#ProductEdit {
    margin-bottom: 20px;
    margin-left: 0px;
    padding: 40px;
    text-align: left;
    font: 12px Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #ffffff;
    background: #192537;
}



