* {
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: whitesmoke;
	height: 100vh;
	margin: auto;
	flex-wrap: wrap;
	background-color: #192537;
}

.container {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #192537;
}

.product-image {
	margin-right:auto;
}
#Image {
	float: left;
	height: 600px;
	width: 400px;
	border-radius: 5px;
}

.product-details {
	padding: 10px;
	max-width: 759px;
	width:100%;
	background-color: white;
	border-radius: 0;
	background-color: #192537;
	color: white;
}

.title {
	text-transform: uppercase;
	margin: 0;
	color:white;
}

.colorCat {
	text-transform: uppercase;
	font-style: italic;
	color: #bbb;
	font-weight: 700;
	font-size: 14px;
	float: left;
	color: white;
}

.price {
	font-weight: 700;
	margin-top: 10px;
	font-size: 23px;
	float: left;
	margin-left: 6px;
	border-radius: 0;
}

.product-details .rating {
	position: static;
	margin-top: 0px;
}
.rating > a{
	font-size: 18px;
	color: #bbb;
}
.rating > a:hover {
	color: #fe6067;
}
.rating .sActive {
	color: #fe6067;
}

header {
	margin-bottom: 70px;
	position: relative;
}

h4 {
	text-transform: uppercase;
	margin: 0;
	font-size: 16px;
}

article > h4 {
	margin: 0;
}

article > p {
	color: #bbb;
	margin: .5em 0;
	font-size: 16px;
	line-height: 1.6;
}

.size {
	margin-top: 50px;
}

.btn {
	margin: 0;
	/*width: 50px;
	height: 50px;*/
	text-align: center;
	outline: none;
	padding: 20px;
	border: 1px solid #bbb;
	cursor: pointer;
	color: white;
}

	.active, .btn:hover {
		background-color: #B09E80;
		color: white;
	}

.quantity {
	margin-top: 40px
}

.qty {
	position: relative;
	width: 50px;
	height: 30px;
}

.footer {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.footer > button {
		display: flex;
		border: 0;
		padding: 15px 25px;
		align-items: center;
		border-radius: 7px;
		cursor: pointer;
		background-color: #B09E80;
	}

		.footer > button > span {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			margin-left: 10px;
			color: white;
		}

		.footer > button > img {
			width: 31px;
		}





/**{
	font-family: 'Oswald', sans-serif;
}

body {
}

.flex-container{
	display: flex;
	flex-wrap: wrap;
}

.flex-container > div {
	width: auto;
	margin: 5px;
	text-align: center;
	line-height:normal;
}

.image-left{
	float:left;
}

#Image {
	float: left;
	height: 600px;
	width: 450px;
	border-radius: 5px;
}*/

/*body{
	background-color: whitesmoke;
	height: 100vh;
	margin:auto;
	display:flex;
	color: #444444;
}

.container {
	display: flex;
	flex-wrap: wrap;
	margin: 30px;
	width: 100%;
	max-width: 900px;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.container > div {
	width: auto;
	margin: 5px;
	text-align: center;
	line-height: normal;
}

h5{
	text-transform: uppercase;
	margin: 0;
	font-size: 14px;
}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
	color:gray;
}

.product-image{
	display: flex;
	flex-direction:column;
	align-items:center;*/
	/*background: linear-gradient(to bottom, #6bffc8 0%, #42c8cb 100%);*/
	/*border-radius: 20px 20px 0 0;
	padding: 55px 0;
	width: 100%;
	margin:auto;
}
.product-pic{
	max-width: 180px;
	position: relative;
	left: 0;
	margin: 40px 0;*/
	/*filter: drop-shadow(-px 40px 23px rgba(black, 0.5));*/
/*}
.product-details{
	padding: 40px;
	background-color:white;
	border-radius: 0 0 20px 20px;
}
.title {
	text-transform:uppercase;
	margin:0;
}
.colorCat{
	text-transform: uppercase;
	font-style: italic;
	color: #bbb;
	font-weight: 700;
	font-size: 14px;
}
.price{
	font-weight: 700;
	margin-top: 5px;
	font-size: 18px;
}
.current {
	color: #fe6168;
	margin-left: 6px;
}
.before{
	text-decoration: line-through;
}
header{
	margin-bottom: 50px;
	position: relative;
}
.articleDescription{
	margin:0;
}
.articleP{
	color: #bbb;
	margin: .5em 0;
	font-size: 14px;
	line-height: 1.6;
}

.controls{
	margin: 3em 0;
}
	.controls > div{
		flex:1;
	}
	.controls > div.option{
		margin-top:12px;
		display:inline-block;
		position:relative;
	}
	.controls > div.option:hover
	{
		color: #444444;
	}
	.controls > div.option::before {
		content: '';
		position: absolute;
		border-width: 2px 2px 0 0;
		border-style: solid;
		top: 0;
		bottom: 0;
		height: 5px;
		width: 5px;
		right: -18px;
		margin: auto;
		transform: rotate(135deg);
	}

	.controls > div + div {
		margin-top: 20px;
		flex: none;
	}
	.controls > ul {
		display: flex;
		margin: 15px 5px;
	}
	.controls > .color li+li{
		margin-left: 15px;
	}
	.colors{
		width:20px;
		height: 20px;
		border-radius: 50%;
		display: block;
	}

.rate{
	position:static;
	margin-top:10px;
}
	.rate > a {
		font-size: 18px;
		color: $gray;
	}
	.rate > a:active {
		color: #fe6067;
	}
	.rate > a:hover {
		color: #fe6067;
	}*/

/*.dots {
	display: flex;
	margin-top: 40px;
}
	.dots > a {
		background-color: $dot;
		width: 10px;
		height: 10px;
		margin: 0 4px;
		border-radius: 50%;
	}
	.dots > a:hover, a:active{
		background-color: white;
	}*/

/*.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	.footer > button {
		display: flex;
		border: 0;
		padding: 15px 25px;
		align-items: center;
		border-radius: 7px;
		cursor: pointer;
		background: linear-gradient(to bottom, $bgt 0%, $bgb 100%);
		box-shadow: 0 10px 30px 0 rgba(#ff886b, 0.7);
		transition: 200ms;
	}
		.footer > button:hover {
			background: linear-gradient(to bottom, $bgb 0%, $bgt 100%);
		}
		.footer > button > img {
			width: 31px;
		}
		.footer > button > span {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			margin-left: 10px;
			color: white;
		}
	.footer > a > img {
		width: 24px;
		opacity: .8;
	}
	.footer > a:hover>img{
		opacity:1;
	}

.product-details > .rate {
	position: absolute;
	top: 12px;
	right: 10px;
	margin-top: 0;
}
.product-details > .controls > div{
	width: 60px;
}
.product-details > .qty {
	width: 60px;
}
.product-details > .controls > div + div {
	border-left: 2px solid rgba(#bbb, 0.5);
	padding-left: 25px;
	padding-right: 25px;
	width: 100px;
	margin-top: 0;
}
.product-details > .controls{
	display:flex;
}

container {
	display: flex;
	flex-direction: row;
	align-items: normal;
	margin: auto;
}

.product-image {
	border-radius: 20px 0 0 20px;
	max-width: 330px;
}

.product-pic {
	left: -40px;
	max-width: 330px;
}

.product-details {
	width: 100%;
	border-radius: 0 20px 20px 0;
}*/











