* {
	font-family: 'Oswald', sans-serif;
}

body {
	background-color: whitesmoke;
	height: 100vh;
	margin: auto;
	flex-wrap: wrap;
	background-color: #192537;
}

.product-container {
	width: 100%;
	max-width: 1300px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background-color: #192537;
	margin-top: 20px;
}

.product-image {
	padding-left:30px;
	margin-right:auto;
}
#Image {
	float: left;
	max-height: 600px;
	height: 100%;
	max-width: 400px;
	width: 100%;
	border-radius: 5px;
}

.product-details {
	padding: 10px;
	max-width: 670px;
	width: 100%;
	background-color: white;
	border-radius: 0;
	background-color: #192537;
	color: white;
}

.title {
	text-transform: uppercase;
	margin: 0;
	color:white;
}

.colorCat {
	text-transform: uppercase;
	font-style: italic;
	color: #bbb;
	font-weight: 700;
	font-size: 14px;
	float: left;
	color: white;
}

.price {
	font-weight: 700;
	margin-top: 10px;
	font-size: 23px;
	float: left;
	margin-left: 6px;
	border-radius: 0;
}

.product-details .rating {
	position: static;
	margin-top: 0px;
}
.rating > a{
	font-size: 18px;
	color: #bbb;
}
.rating > a:hover {
	color: #fe6067;
}
.rating .sActive {
	color: #fe6067;
}

header {
	margin-bottom: 70px;
	position: relative;
}

h4 {
	text-transform: uppercase;
	margin: 0;
	font-size: 16px;
}

article > h4 {
	margin: 0;
}

article > p {
	color: #bbb;
	margin: .5em 0;
	font-size: 16px;
	line-height: 1.6;
}



.size-btn {
	width: 50px;
	height: 50px;
	background-color: #B09E80;
	color: white;
	border-radius: 5px;
	pointer-events: none;
	margin: 0;
	text-align: center;
	outline: none;
	border: 1px solid #bbb;
	color: white;
}



.active, .btn:hover {
	background-color: #b19465;
	color: white;
}

.quantity {
	margin-top: 40px
}

.qty {
	position: relative;
	width: 50px;
	height: 30px;
}

.footer {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

	.footer > button {
		display: flex;
		border: 0;
		padding: 15px 25px;
		align-items: center;
		border-radius: 7px;
		cursor: pointer;
		background-color: #B09E80;
	}

		.footer > button > span {
			font-size: 18px;
			text-transform: uppercase;
			font-weight: 700;
			margin-left: 10px;
			color: white;
		}

		.footer > button > img {
			width: 31px;
		}

#AddToCart {
	background-color: #B09E80;
	text-transform: uppercase;
	height: 70px;
	max-width: 400px;
	width: 100%;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	position: relative;
	top: 15px;
	text-align: center;
	border-radius: 5px;
	float: left;
	margin-top:15px;
}

	#AddToCart:hover {
		background-color: #b19465;
	}














