
#div {
	padding: 20px;
}

table {
	width: 100%;
	color: white;
	border: 1px solid #b2afaf;
	background-color: #B09E80;
}

th {
	background-color: #031327;
	color: white;
}

td {
	text-align: left;
}

tr {
	border-radius: 5px;
}

tr:hover {
	background-color: #b2afaf;
}

#Create:link, Create:visited {
	color: black;
	background: white;
	border: 2px solid green;
	margin-left: 1000px;
	padding: 5px 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 5px;
}

#Create:hover, Create:active {
	background-color: green;
	color: white;
}

#Details {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
}

#Details:hover {
	background-color: #45a049;
}

#Edit {
	background-color: #1b40ea;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	border-radius: 5px;
}

#Edit:hover {
	background-color: #1e3ed3;
}

#Delete {
	background-color: #d43939;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	text-align: center;
	border-radius: 5px;
}

#Delete:hover {
	background-color: #bd1b1b;
}

#Back {
	background-color: #031327;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 22px;
	padding-right: 22px;
	position: relative;
	top: 25px;
	left: 0px;
	text-align: center;
	border-radius: 15px 15px 15px 5px;
}

	#Back:hover {
		background-color: #bd1b1b;
	}


